      html,body {
      height:100%;
      width:100%;
      padding:0;
	  margin:0;
	  overflow:hidden;
      }

      body {
      background-color:#fff;
      color:#333;
      font-size:14px;
      overflow:hidden;
      font-family:Georgia, "Times New Roman", Times, serif;
      }

      a {
      color:#555;
	  font-weight:bold;
	  text-decoration:none;
      }

	  a:hover{
	  text-decoration:underline;
	  }

      img{
      outline:none;
      border:none
      }

      area{
      cursor:pointer;
      }

      #header {
      height:32px;
      background:#444;
      color:#fff;
      margin:0;
      }

      #embedSelector{
      width:100%;
      font-family:Arial, Helvetica, sans-serif;
      border-collapse:collapse;
      }

      .foodSelect{
      text-align:center;
      font-weight:bold;
      font-size:15px;
      cursor:pointer;
      padding:7px 0 7px 0;
      }

      #cranberriesSelect{
      background:#c18384;
      color:#5d2322;
      }

      #greenbeansSelect{
      background:#85ae84;
      color:#264d2e;
      }

      #sweetPotatoesSelect{
      background:#fcd497;
      color:#615339;
      }

	  #headerText{
      display:none;
	  padding-top:20px;
      padding-left:25px;
	  width:70%;
	  float:left;
	  }

      #title {
	  font-family:Arial, Helvetica, sans-serif;
      font-size:28px;
      text-align:left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow:ellipsis;
      }

      #subtitle {
      font-size:14px;
	  margin-top:5px;
      color:#dadada;
      font-style:italic;
      overflow: hidden;
      }

      #logoArea{
      display:none;
	  float:right;
      width:125px;
	  padding-top:25px;
	  padding-right:25px;
      overflow: hidden;
	  }

      #social,#logo{
      float:right;
      }

      #social{
      padding-bottom:20px;
      }

      #smLink{
      color:#fff;
      font-family:Arial, Helvetica, sans-serif;
      font-weight:bold;
      font-size:12px;
      text-decoration:none;
      outline:none;
      }

      #smLink:hover{
      text-decoration:underline;
      }

	  #logo{
	  border:none;
	  outline:none;
	  }

	  #logoImg{
	  border:none;
	  outline:none;
	  }

      #leftPane {
      display:none;
      width:280px;
      height:100%;
      font-size:1.1em;
      }

      #foodSelectorPane{
      width:100%;
      height:350px;
      }

      #foodPlate{
      width:230px;
      margin:25px;
      }

      #foodTitle{
      margin:10px;
      border-bottom:1px dashed #444;
      font-size:24px;
      font-family:Arial, Helvetica, sans-serif;
      font-weight:bold;
      }

      #descriptionCon{
      position:absolute;
      background:#fff;
      width:250px;
      bottom:0;
      left:0;
      z-index:100;
      border-top:2px solid #848484;
      border-right:2px solid #848484;
      }

      #description{
      padding:0 10px 15px 10px;
      color:#666;
      max-height:200px;
      overflow:auto;
      }

      #descriptionToggle{
      background:#848484;
      float:right;
      color:#fff;
      font-family:Arial, Helvetica, sans-serif;
      font-size:10px;
      padding:3px;
      cursor:pointer;
      }

      #map {
      margin:0;
      }

	  #swipeImg{
	  display:none;
	  position:absolute;
	  z-index:2;
	  }

	  .moveable {
      position:absolute;
      border-left:1px solid #848484;
	  border-right:1px solid #848484;
      background-color: #dadada;
      width: 6px;
      height: 100%;
      padding: 0 !important;
      margin: 0;
      z-index: 30;
      cursor: col-resize;
	  }

	  .moveable:hover {
	  background-color:#999;
	  }

      #footer {
	  display:none;
      font-size:12px;
      background:#848484;
      height:18px;
      margin:0;
      padding:10px 15px 5px;
      }

      .map .bingLogo-lg {
      left:18px !important;
      }

      #legendCon{
	  position:absolute;
 	  width:255px !important;
      right:0;
      border:2px solid #848484;
  	  z-index:100;
	  }

	  #legendDiv{
	  display:none;
	  background:#fff;
	  max-height:450px;
	  overflow:auto;
	  font-family:Arial, Helvetica, sans-serif;
	  }

	  #legendToggle{
	  position:relative;
	  background:#848484;
	  margin-top:-1px;
	  width:100%;
	  .height:28px;
	  cursor:pointer;
	  z-index:100;
	  color:#fff;
	  font-family:Arial, Helvetica, sans-serif;
	  }

	  #legTogText{
	  position:relative;
	  margin:auto;
	  margin-left:2px;
	  .margin-top:0px;
	  padding:5px;
	  color:#fff;
	  font-family:Arial, Helvetica, sans-serif;
	  }

	  g,v {
	  cursor:pointer;
	  }

	  #loadingCon{
	  position:absolute;
	  z-index:99;
	  width:100%;
      top:40%;
	  text-align:center;
	  }

	  #loadingDialog{
	  margin:auto;
	  background-color:#dadada;
	  width:300px
	  }

	  #loadingHeader{
	  background-color:#444;
	  color:#fff;
	  padding-top:10px;
	  padding-bottom:10px;
	  width:300px;
	  }

	  #loading{
	  padding-top:10px;
	  }

	  #loadingImg{
	  margin-top:5px;
	  padding-bottom:10px;
	  }

	  .esriViewPopup .gallery{
	  background-color:#dadada;
	  }

      .maximize{
      display:none;
      }